<!doctype html>
<html lang="en" ng-app="MoviesAroundMe">
  <head>
    <meta charset="utf-8">
    <title>Movies Around Me</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="services/omdb.js"></script>
    <script src="services/moviesapi.js"></script>
  <body ng-controller="moviesControl as mCtrl">
    <div>
      <form class="form-horizontal">
        Postcode: <input type="text" ng-model="mCtrl.postcode">
        <button class="btn" ng-click="mCtrl.findCinemas()">Search</button>
      </form>

<!--       <form class="ratings-form">
        Movie title: <input type="text" ng-model="mCtrl.movieTitle">
        <button class="btn" ng-click="mCtrl.updateMovieRating()">Search</button>
      </form>
      <div>
        IMDb rating: <p>{{mCtrl.imdbRating}}</p>
      </div>
    </div> -->

    <ul class="list-group" ng-repeat="movie in mCtrl.moviesList">
        <li>{{movie.title}}, -{{movie.cinema}}, -{{movie.distance}} -{{movie.rating}}</li>
    </ul>

  </body>
</html>
