<!doctype html>
<html lang="en" ng-app="MoviesAroundMe">
 <head>
   <meta charset="utf-8">
   <title>Movies Around Me</title>
   <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
   <link rel="stylesheet" href="css/viewTemplateStyle.css">
   <link rel="stylesheet" href="css/mobileStyle.css">
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,700italic' rel='stylesheet' type='text/css'>
   <script src="bower_components/jquery/dist/jquery.js"></script>
   <script src="bower_components/angular/angular.js"></script>
   <script src="bower_components/angular-resource/angular-resource.js"></script>
   <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
   <script src="app.js"></script>
   <script src="services/omdb.js"></script>
   <script src="services/moviesapi.js"></script>
 </head>
 <body ng-controller="moviesControl as mCtrl">
   <div class="mainContainer">
     <div class='header'>
       <input ng-model="mCtrl.postcode" class="postcode-search" type='text' id="postcode" placeholder="Postcode">
       <span class="site-title">Movies Around Me</span>

       <button class='btn find-movies-button' ng-click="mCtrl.findMoviesAroundMe()">Find Movies</button>
     </div>

     <div class="loader">Loading...</div>

     <div class="content-container">
       <div class='content-left-column'>
         <!-- Table should be angular filled -->
         <table class="table table-hover movie-list-table">
          <tr ng-repeat="movie in mCtrl.moviesList | orderBy:'-imdb' | unique: 'title'" ng-click="mCtrl.updateMap(movie.address)">
            <td id="movie-poster" class="movie-info"><img src={{movie.poster}}></td>
            <td id="movie-title" class="movie-info">{{movie.title}}</td>
            <td id="times-container" class="movie-info">
              <div ng-repeat="time in movie.times" id="movie-time">{{time}}</div>
            </td>
            <td id="movie-rating" class="movie-info">IMDb: {{movie.imdb}}</td>
            <td id="movie-distance" class="movie-info">{{movie.distance}}</td>
            <td><img src="images/arrow.png" class="arrow"></td>
          </tr>
         </table>
       </div>

       <div class='content-right-column'>
         <div class="google-maps">
           <iframe id="map-frame" frameborder="0" style="border:0"
           src=""></iframe>
         </div>
       </div>
     </div>
   </div>
 </body>
</html>
