/****** GENERAL ******/

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  height: 100%;
}

.mainContainer {
  /*height:100%;*/
}

/*Header height should be static but px messes up other % */
.header {
  width: 100%;
  background-color: #444444;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  height: 60px;
}

.content-left-column{
  float: left;
  position: absolute;
  margin-top: 60px;
  width: 600px;
  height: 100%;
  bottom:0;
  top: 0;
  border-right: 3px solid #444444;
  overflow: auto;
}

.content-right-column {
  float: left;
  margin-left: 600px;
  position: absolute;
  /*width: 60%;*/
  right:0;
  left: 0;
  bottom: 0;
  margin-top: 60px;
  top:0;
  background-color: #E0E0E0;
}

.google-maps iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

.site-title {
  margin-right: 95px;
  color: white;
}

/* Check if this works in all browsers! */
input[type="text"] {
  float:left;
  border-radius: 10px;
  text-align: center;
  height: 35px;
  font-weight: normal;
  font-size: 15px;
  margin-top: 2px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.postcode-search {
  outline: none;
}

.postcode-search:focus::-webkit-input-placeholder {
    opacity: 0;
}

button {
  float: right;
  border: 0;
  margin-top: 4px;
}

.find-movies-button {
  font-weight: bold;
}

.btn:focus, .btn:active, .btn:active:focus {
  outline: none;
}

.movie-list-table {
  overflow-y: scroll;
}

td img {
  width: 115px;
}

td {
  cursor: pointer;
  vertical-align: middle;
}

#movie-poster {
  width: 30px;
}

#movie-title {
  font-weight: bold;
  font-size:20px;
  width: auto;
}

#movie-distance, #movie-rating {
  width: 80px;
}

.upper-container, .lower-container {
  border: 1px solid green;
  overflow: hidden;
  width: auto;
  height: auto;
}

.arrow {
  width: 15px;
  height: 15px;
  margin-top: 70px;
  margin-right: 15px;
}


/****** RIGHT COLUMN ******/

h3 {
  margin-top: 0px;
  text-decoration: underline;
}

.loader-container {
  /*margin-bottom: 15px;
  margin-left: 10px;*/
}

.loader:before,
.loader:after,
.loader {
  float: left;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: none;
  top: -1px;
  left: 220px;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #FFF;
  }
}
